* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

.game-container {
    width: min(95vw, 500px);
}


#game-board {
    width: 100%;
    aspect-ratio: 1;

    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border: 3px solid #222;
}

.cell {
    border: 1px solid #ddd;
}

.snake {
    background: green;
}

.head {
    background: darkgreen;
}
button {
    padding: 10px 15px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.controls {
    margin-top: 20px;

    text-align: center;
}

.controls button {
    margin: 3px;

    width: 50px;
    height: 45px;

    font-size: 20px;
}
.food {
    background: red;
    border-radius: 50%;
}
